{% extends 'base.html' %}

{% block content %}
  <h2>Your Orders</h2>
  {% if orders %}
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Cost</th>
          <th>Order Date</th>
          <th>Delivery Date</th>
          <th>Complete Order</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.product.name }}</td>
            <td>{{ order.quantity }}</td>
            <td>${{ order.cost }}</td>
            <td>{{ order.ordered_date }}</td>
            <td>{{ order.delivery_date }}</td>
            <td>
              {% if not order.is_delivered %}
                <a href="{% url 'complete_order' order.id %}" class="btn btn-primary">Complete Order</a>
              {% else %}
                Order Completed
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h5 style="text-align: center; color:gray">You don't have any orders yet...</h5>
  {% endif %}
{% endblock %}
